@import url(./_values.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  overflow-x: hidden;
}
* {
  font-family: "Roboto", sans-serif;
}

/* body::-webkit-scrollbar{
    background: transparent;
    width: 16px;
}
body::-webkit-scrollbar-track {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 16px;
    border: 3px solid #fff;
} */

.navber-btns {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  background: rgb(247, 247, 247);
  padding-left: 10px;
}

.active {
  border-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.nav-pills .navbar-btn.active {
  border-radius: 25px;
  background: transparent;
  color: rgb(84, 57, 255);
}

.nav-pills .navbar-btn {
  width: 170px;
  margin-bottom: 30px;
  height: 50px;
  padding: 12px 30px;
  color: #111;
  font-size: 1.2rem;
}

.chats-profs {
  position: relative;
  margin: 0;
  left: 0;
  padding-left: 11;
  padding-right: 0;
}

.search-box {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #555;
}

.header-of-chats {
  width: 105%;
  height: 70px;
  border-bottom: 1px solid #555;
}

.chat-box {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

#write-message {
  position: relative;
  top: -170px;
  background: rgb(84, 57, 255);
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 30px;
  padding: 10px 20px;
}

.chat-user-prof {
  width: 60px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
}

.list-group-item {
  width: 100%;
  height: 80px;
  color: #000;
}

.chatss {
  width: 100%;
  height: 93vh;
  overflow-y: scroll;
}

.chatss::-webkit-scrollbar {
  background: none;
}
.chatss::-webkit-scrollbar-track {
  background: none;
}
.chatss::-webkit-scrollbar-thumb {
  background: none;
}

.nav-pills .nav-link.user-prof.active {
  background: rgb(248, 248, 248);
  color: #555;
  border: none;
  border-left: 3px solid rgb(84, 57, 255);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.user-prof {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.badge-light {
  background: rgb(235, 235, 235);
}

.searchbox {
  width: 100%;
  height: 50px;
  position: relative;
  top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

.searchbox input {
  border: none;
  background: #eee;
  position: relative;
  top: 10px;
  left: 25px;
  width: 70%;
  height: 30px;
  padding: 10px;
  border-radius: 25px;
}

.searchbox input:focus {
  outline: none;
}

.searchbox i {
  position: relative;
  height: 30px;
  width: 30px;
  padding: 7px;
  top: 10px;
  left: 30px;
}
.dropdown-menu-prof {
  background: rgb(248, 248, 248);
  position: relative;
  left: 945px;
  display: none;
  z-index: 80;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
}

.dropdown-menu-prof a:hover {
  background: #eee;
}

.dropdown-pic {
  position: relative;
  width: 40px;
  height: 40px;
  background: #eee;
  border-radius: 50%;
  top: 15px;
  left: 1050px;
}

.dropdown-prof {
  position: relative;
  display: inline-block;
}

.my-id {
  position: absolute;
  top: 15px;
  left: 880px;
}

#my-id-divider {
  position: absolute;
  top: -35px;
  left: 1010px;
}

.chatbox {
  width: 100%;
  position: relative;
  left: 14px;
  padding: 50px;
  height: 85vh;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: -10px 1px 30px rgba(0, 0, 0, 0.1);
}

.chatbox::-webkit-scrollbar {
  background: none;
}
.chatbox::-webkit-scrollbar-track {
  background: none;
}
.chatbox::-webkit-scrollbar-thumb {
  background: none;
}

.typeBox {
  position: relative;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  border-radius: 25px;
  top: 23px;
  left: 90px;
}

.typeBox input:focus {
  outline: none;
}

.typeBox i.fa-microphone {
  position: relative;
  top: 4px;
  border-radius: 50%;
  left: 10px;
  background: #eee;
  width: 30px;
  height: 30px;
  padding: 5px 8px;
  transition: all 0.3s;
}

.typeBox i.fa-folder {
  position: relative;
  border-radius: 50%;
  left: 30px;
  top: 3px;
  background: #eee;
  width: 30px;
  height: 30px;
  padding: 7px 8px;
  transition: all 0.3s;
}

.typeBox i.fa-folder:hover {
  background: var(--primary-color);
}
.typeBox i.fa-microphone:hover {
  background: var(--primary-color);
}

.send-btn {
  position: relative;
  left: 45px;
  top: 2px;
  padding: 0px 12px;
  border-radius: 25px;
  height: 30px;
  background: rgb(84, 57, 255);
  border: none;
  color: #fff;
}

.send-btn:hover {
  border: 1px solid var(--primary-color);
  background: none;
}

.file-upload > input {
  display: none;
}

.file-upload i {
  cursor: pointer;
}

.file-upload {
  display: inline;
}

.editUserBtn {
  outline: none;
  border: none;
  background: transparent;
}

.editUserBtn:focus {
  outline: none;
}

.userChat {
  border-radius: 10px;
  background: rgb(245, 245, 245);
  transition: all 0.3s;
  margin-top: 20px;
}

.userChat:hover {
  background: rgb(253, 253, 253);
}

.myChat {
  border-radius: 10px;
  background: rgb(84, 57, 255);
  color: #fff;
  transition: all 0.3s;
  margin-top: 10px;
}

.myChat:hover {
  background: rgb(112, 90, 255);
}

.myChat i {
  color: #fff;
}

.chatHeader {
  width: 50%;
  height: 100px;
  text-align: center;
  position: fixed;
  z-index: 50;
  opacity: 0.5;
}

.userEditDropdown {
  padding-left: 20px !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.myEditBtn {
  outline: none;
  border: none;
  background: transparent;
}

.myEditBtn:focus {
  outline: none;
}

.uk-dropdown-nav li {
  text-decoration: none;
  list-style: none;
}

.uk-dropdown-nav li a {
  transition: all 0.1s;
  width: 100%;
  height: 50px;
  text-align: center;
}

.uk-dropdown-nav a:nth-child(1) {
  margin-top: 10px;
}

.uk-dropdown-nav a:hover {
  color: rgb(112, 90, 255) !important;
}

.message-wrapper {
  width: 100vh !important;
  min-height: 170px;
  display: block !important;
}

.textbox {
  position: relative;
  top: 2px;
  left: 20px;
  width: 77%;
  border: none;
}

.message-wrapper-ins {
  width: 100vh !important;
  min-height: 400px;
  display: block !important;
}

.fa-arrow-down {
  position: absolute;
  font-size: 2rem;
  left: 58px;
  top: 35px;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.block-wrapper {
  width: 100%;
  height: 100px;
  text-align: center;
  position: relative;
  top: 50px;
}

.block-wrapper div {
  letter-spacing: 1px;
}

.no-message-badge {
  width: 1112px;
  height: 100px;
  text-align: center;
  position: relative;
  top: 50px;
}

.uk-background-muted.rounded-pill .uk-border-circle {
  cursor: pointer;
}

.profile-pic {
  background: #eee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.profile-header-name {
  position: relative;
  margin: 10px;
}

.fa-pencil {
  position: absolute;
  margin: 10px;
  left: -25px;
  top: 7px;
  cursor: pointer;
}

.profile-header-username {
  position: relative;
  left: -200px;
  top: 10px;
}

.hw-20 {
  height: 1.25rem;
  width: 1.25rem;
}

.font-size-sm {
  font-size: 0.875rem;
}

.font-weight-medium {
  font-weight: 500;
}

/* ----------------- */

.notes-wrapper {
  position: absolute;
  top: 0;
  right: -500px;
  height: 100vh;
  background: rgb(250, 250, 250);
  box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.2);
  color: #111;
  z-index: 100;
  transition: all 0.8s cubic-bezier(1, 0, 0, 1);
}

.notes-header {
  padding: 20px;
  width: 100%;
  height: 49px;
  margin-bottom: 20px;
}

.notes-body {
  width: 100%;
  height: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.note-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 15px;
  margin-top: 20px;
}

.note-wrapper h3 {
  margin: 0;
}

.note-wrapper h5 {
  margin: 0;
  margin-left: 10px;
}

.note-box {
  margin-top: 20px;
  width: 100%;
  padding: 10px 40px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
}

.note-text {
  margin: 0;
  font-size: 1rem;
}

.note-check {
  margin-top: 5px;
  margin-right: 10px;
}

.note-check:checked {
  background: #000;
}

.note {
  width: 100%;
  margin-top: 12px;
}

.complete-note {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.close-notes {
  cursor: pointer;
}

.notes-option {
  cursor: pointer;
}
